#cardList{
    color:rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    text-align: center;
}

#addCard{
    background-color: #6998e8;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 100px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

#startGame{
    background-color: #53bc7f;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 100px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

#moderateGame{
    background-color: #ff9427;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 100px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

#pauseGame{
    background-color: #45f320;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 100px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

#back{
    background-color: #2d63c7;
    border: none;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.skip-button {
    margin: 10px;
    padding: 4px;
    font-size: 20px;
}

#body{
    max-width: 450px;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
    background-color: black;
}
