#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#musicButton{
    width: 80px;
    position:   absolute;
    top:        5px;
    left:       5px;
    text-align: left;
    cursor: pointer;
}

#creditsButton{
    width: 70px;
    position:   absolute;
    top:        90px;
    left:       5px;
    text-align: left;
    cursor: pointer;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
}

#form{
    max-width: 450px;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
    background-color: black;
}

#pin{
    width: 50%;
    padding: 12px 0px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}

#label{
    display: block;
    text-align: center;
    font-size: 30px;
    font-family: 'Verdana', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

a:link {
  color: powderblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

//see styles.css
/*
#joinGame{
    background-color: #0da987;
    color: rgb(255, 255, 255);
    padding: 15px 100px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Verdana', sans-serif;
    border: px solid rgb(255, 255, 255);
}

#joinGame:disabled{
    background-color: rgba(13, 169, 135, 0.5);
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

#hostGame{
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    padding: 15px 100px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Verdana', sans-serif;
}
*/

#text{
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    color: rgb(255, 255, 255);
}
